

.App {
  max-width: 600px;
  margin: 30px auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-blend-mode: overlay;
  color: #537188;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color:#537188;
}
a {color: #537188;
  text-decoration: none;
}
a:hover{
  color: azure;
  font-weight: bold;
}

